[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NETLIFY_BUILD_DEBUG=1

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
